$blue:    #0096FF !default;
$indigo:  purple !default;
$purple:  #FA2FB5 !default;
$pink:    #EE6983 !default;
$red:     #D61C4E !default;
$orange:  #FFB200 !default;
$yellow:  #F0E161 !default;
$green:   #7FB77E !default;
$teal:    #6FEDD6 !default;
$cyan:    #319DA0 !default;

// scss-docs-start border-radius-variables
$border-radius:               .10em !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-2xl:           2rem !default;
$border-radius-pill:          50rem !default;

@import "bootstrap";

// navbar